/* header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(174, 211, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
}

ul {
    list-style: none;
}

.barra {
    margin: 2px;
    margin-left: 5px;
    background-color: rgb(174, 211, 235);
    position: static;
}

/*buscador*/
a:hover {
    background-color: rgb(174, 211, 235);
    color: rgb(20, 20, 105);
    font-weight: bold;
    padding: 10px;
}

a:active {
    background-color: rgb(174, 211, 235);
    color: rgb(223, 223, 59);
}

/*buscador*/
/* header*/

/* article*/
.principal {
    font-size: small;
    text-align: center;
    font-weight: lighter;
    background-color: transparent;
}

/* article*/

/*aside*/
/*imagen*/
.imagen {
    border-radius: 50%;
    margin: 19px;

}

.sidebar {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: center;
}

.servicios {
    background-color: rgb(227, 227, 253);
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: left 10px;
    ;
    display: flex;
    width: fit-content;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: larger;
}

.clases {
    background-color: rgb(195, 214, 226);
    border-radius: 10px;
    width: fit-content;
    ;
    height: fit-content;
}

.encordado {
    background-color: rgb(195, 214, 226);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.productos {
    border-radius: 10px;
    background-color: rgb(195, 214, 226);
    width: fit-content;
    height: fit-content;
}

.button {
    display: inline-block;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: rgb(15, 15, 117);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    padding: 20px;
    width: 250px;

}

/*aside*/

/*fieldset para contactarse con clientes*/
.suscripcion {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(247, 247, 207);
}

.enviar {
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 20px;
    width: 100px;
}

/*fieldset para contactarse con clientes*/

/*footer*/
.footer {
    justify-content: center;
    text-align: center;
    background-color: rgb(231, 231, 167);
    font-weight: bold;
    font-size: x-small;
    bottom: 0%;
    width: 100%;
    position: relative;

}

/*footer*/

/*sobre-mi*/
.imagengianni {
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

/*sobre-mi*/

/* contacto*/

.rrss {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    flex-direction:
        row;
}

.redess {
    width: 100%;
    background-color: rgb(246, 248, 123);
}

.redes {
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;

}

/* contacto*/

/* ubicacion*/
.mapa {
    background-color: rgb(30, 30, 92);
}

/*ubicacion*/

/*productos*/
.container {
    background-color: rgb(14, 14, 116);
    display: grid;
    display: flex;
}

.producto {
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 5px 1px;
    border-radius: 10px 10px 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    padding-top: 10px;
}

.container2 {
    background-color: rgb(230, 247, 134);
    display: grid;
    display: flex;
    overflow: hidden;
}

.pormensaje {
    font: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

/*productos*/

/*clases*/
.formulario {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 380px;
    background-color: rgb(234, 240, 158);
}

/*clases*/

/*encordado*/
.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    justify-content: center;
    margin: 10px;
    margin-left: 400px;
}

.encordadotext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    font-weight: bold;
    justify-content: center;
    margin: 10px;
    margin-left: 400px;
    ;
}

.texto {
    background-color: rgb(219, 219, 147);
    width: fit-content;
    height: fit-content;

}

.textotension {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-small;
    font-weight: bolder;
}

.formencordar {
    background-color: rgb(196, 217, 255);
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 400px;
}

/*encordado*/